body {
  background-color: powderblue;
}
h1 {
  color: black;
}
h3 {
  color: blue;
}

#div1 {
  width: 10px;
  height: 100px;
  border: 1px solid blue;
  box-sizing: border-box;

 }
.grid-container {
  display: grid;
  background-color: #2196F3;
  grid-gap: 0px 0px;



}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  text-align: center;

}

table, th, td{
  border: .5px solid black;
  padding-left: 0px;
  padding-right: 0px;
  background-color: lavender;


}

#clear {
  width: 80px;
  padding-right: 5px;
  padding-left: 0px;
  background-color: pink;
}

#operator {
  width: 80px;
  padding-right: 8px;
  padding-left: 0px;
  background-color: lavender;
}

#number {
  width: 80px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: hotpink;
}

#display {
  width: 400px;
}
