body {
  background-color: powderblue;
}
h1 {
  color: black;
}
h3 {
  color: blue;
}



 }
.grid-container {
  display: grid;
  background-color: #2196F3;
  grid-gap: 0px 0px;



}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  text-align: center;

}

table, th, td{
  border: .5px solid black;
  padding-left: 0px;
  padding-right: 0px;
  background-color: lavender;
  width: 1px;


}

.clear {
  width: 80px;
  height: 40px;
  background-color: pink;
  display: inline-block;
}

.operator {
  width: 80px;
  height: 40px;
  display: inline-block;
  background-color: lavender;
}

.number{
  width: 80px;
  height: 40px;
  display: inline-block;
  background-color: hotpink;
}

.display {
  width: 200px;

}
